<div>
    <input type="text" maxlength="250" value="@InputText" placeholder="Enter up to 250 characters" @oninput="OnInputChange" @onkeyup="CheckEnter"/>
    <button @onclick="() => CreateQrCode(InputText)" disabled="@(string.IsNullOrWhiteSpace(InputText))">Send</button>
</div>

@if (!string.IsNullOrEmpty(QrCodeAsBase64))
{
    <div>
        <img src="data:image/png;base64,@QrCodeAsBase64" alt="Generated QR Code"/>
    </div>
}